{% extends "admin/index.html" %}
{% load chart_sale %}
{% load get_sale_count %}
{% load get_sale_delivered_count %}
{% block extrahead %}
{#    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>#}
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>#}
    <script>
        var randomColorGenerator = function () {
            return '#' + (Math.random().toString(16) + '0000000').slice(2, 8);
        };
        var options = {
            responsive: true,
            maintainAspectRatio: true,
            legend: {
                position: 'left'
            },
            title: {
                display: true
            },
            animation: {
                animateScale: true,
                animateRotate: true
            }
        };
        window.onload = function () {
            var ctx = document.getElementById("gender-chart");
            {% regroup cl.queryset|dictsort:"gender" by get_gender_display as gender_list %}
            var lineChart = new Chart(ctx, {
                type: 'doughnut',
                {#type: 'bar',#}
                label: 'bar',
                data: {
                    labels: [{% for gender in gender_list %}'{{ gender.grouper }}',{% endfor %}],
                    datasets: [{
                        data: [{% for gender in gender_list %}'{{ gender.list|length }}',{% endfor %}],
                        backgroundColor: [{% for gender in gender_list %}randomColorGenerator(),{% endfor %}]
                    }]
                },
                options: options
            });
            ctx = document.getElementById("language-chart");
            {% regroup cl.queryset|dictsort:"grades" by grades as grades_list %}
            lineChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: [{% for grade in grades_list %}'{{ grade.grouper }}',{% endfor %}],
                    datasets: [{
                        data: [{% for grade in grades_list %}'{{ grade.list|length }}',{% endfor %}],
                        backgroundColor: [{% for grades in grades_list %}randomColorGenerator(),{% endfor %}]
                    }]
                }, options: options
            });
            ctx = document.getElementById("grades-chart");
            {% regroup cl.queryset|dictsort:"language" by get_language_display as language_list %}
            lineChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: [{% for language in language_list %}'{{ language.grouper }}',{% endfor %}],
                    datasets: [{
                        data: [{% for language in language_list %}'{{ language.list|length }}',{% endfor %}],
                        backgroundColor: [{% for language` in language_list %}randomColorGenerator(),{% endfor %}]
                    }]
                }, options: options
            });
        }
    </script>
{% endblock %}
{% block breadcrumbs %}
    <div style="margin-bottom:30px; padding:10px 40px;" class="row">
        <div class="col-md-12">
            <h1> Sales Summary </h1>
              {% get_sale_count  as total_sales %}
              {% get_sale_completed_count  as completed_sale %}

            total sales: {{ total_sales }}
            total sales completed: {{ completed_sale }}
            total sales completed: {{ request.user.id }}
            <hr>
        </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>
{#            <span class="info-box-icon bg-aqua"><i class="fa fa-dashboard"></i></span>#}

            <div class="info-box-content">
              <span class="info-box-text">CPU Traffic</span>
              <span class="info-box-number">90<small>%</small></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>

    <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>150</h3>

              <p>New Orders</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>



        <div class="col-sm-4">
            <div class="alert alert-info" role="alert">
  This is a info alert—check it out!
</div>
            <span class="badge badge-info">Info</span>
            <div class="badge badge-info alert alert-info" id="sale-completed" style="width: 100% !important;">
                <h2>{{ completed_sale }}</h2>
                <p>Total Competed Sales</p>


            </div>
        </div>
        <div class="col-sm-4">
            <canvas id="language-chart" style="width: 100px !important;"></canvas>
        </div>
        <div class="col-sm-4">
            <canvas id="grades-chart" style="width: 100px !important;"></canvas>
        </div>



        <div class="col-sm-4">
            <canvas id="gender-chart" style="width: 100px !important;"></canvas>
        </div>
        <div class="col-sm-4">
            <canvas id="language-chart" style="width: 100px !important;"></canvas>
        </div>
        <div class="col-sm-4">
            <canvas id="grades-chart" style="width: 100px !important;"></canvas>
        </div>


{#   {%  if chart_sal?e  %}#}


        <div class="col-md-12">

            {% chart_sale 2019 as summary %}
            <table style="width:100%;">
            <thead>
            <tr>
            <th>
            <div class=”text”>
            <p><strong>Period</strong></p>
            </div>
            </th>
            <th>
            <div class=”text”>
            <p><strong>Count</strong></p>
            </div>
            </th>
            <th>
            <div class=”text”>
            <p><strong>Percentage</strong></p>
            </div>
            </th>
            </tr>
            </thead>
            <tbody>
            {% for row in summary.summary %}
            <tr>
            <td> {{ row.period }} </td>
            <td> {{ row.total }} </td>
            <td> {{ row.percent }}% </td>
            </tr>
            {% endfor %}
            </tbody>
            </table>


        {% chart_sale 2019 as summary %}
            <div class="bar-chart" style="height:300px;">
            {% for x in summary.summary %}
            <div class="element">
            <div class="bar" style="height:{{x.percent}}%"></div>
            <div style="align-items: center;">
            <p style="font-size: 12px;">
            {{ x.period }}
            </p>
            </div>
            </div>
            {% endfor %}
            </div>


        </div>
    </div>

{#{% endif %}#}

    {{ block.super }}
{% endblock %}




